<div *ngIf="getBuild().isFailed()" class="build-item col {{getClasses()}}  {{index}}">
    <h2>
        <span *ngIf="getBuild().isPr(); then thenBlock else elseBlock"> ... </span>
        <ng-template #thenBlock>PR: {{getBuild().getPrnr()}}</ng-template>
        <ng-template #elseBlock>{{getBuild().getName()}}</ng-template>
    </h2>
    <div class="{{getBuild().getState() | stateClass}} ablock">
        <div class="'internal-container">
            <div>
                <img class="commiter" src="{{ getBuild().getCommit().getCommitterEmail() | gravatar }}">
            </div>
            <section class="large-view">
                <p class="lead">
                    <strong>{{getBuild().getCommit().getBranch()}}</strong>
                </p>

                <p>
                    Last failed build by {{getBuild().getCommit().getCommitterEmail()}}
                </p>

                <div class="truncate">
                    {{getBuild().getCommit().getMessage()}}
                </div>
            </section>
            <p>Build failed <span class="time" [attr.data-finished_at]="getBuild().getFinishedAt()">{{getBuild().getFinishedAt() | timeAgo}}</span>
                ago.</p>
        </div>
    </div>
</div>
